<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Home.css"/>
    <script src="https://kit.fontawesome.com/4c7708918a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav class="fnav">
        <div class="left">
            <img src="load.png" alt="">
            <input type="text" placeholder="Search For Movies"/>
        </div>
        <div class="right">
            <p>Location</p>
            <button>Sign in</button>
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    <nav class="sec-nav">
        <div class="s-left">
            <p>Movies</p>
            <p>Bookings</p>
            <p>Group</p>
            
        </div>
        <div class="s-right">
            <p>ListYourShow</p>
            <p>Corporates</p>
            <p>Offer</p>
            
            
        </div>
    </nav>

    <div class="main">
        <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1664352328095_appkudaweb.jpg" alt="">
    </div>

    <div class="container">
        <h2>Recommended Movies</h2>
        <div class="card">
            <img src="https://static.toiimg.com/thumb/msid-114938741,width-1280,height-720,resizemode-4/114938741.jpg" alt="">
            <img src="https://i.pinimg.com/originals/de/d1/2f/ded12f5239c6c917bf84f4b173ae0442.jpg" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSco4Vf_AoCvxU0kkSgz2AEEABQU1w--OWYWQ&s" alt="">
            <img src="https://img.mensxp.com/media/content/2023/Dec/Upcoming-South-films-ready-to-rule-of-Bollywood-in-2024-4_658e8f8663f54.jpeg?w=720&h=1280&cc=1" alt="" class="">
            <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2024-08/29/full/1724917152-5855.jpg" alt="" >
        </div>    
    </div>

    <div class="banner">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120:q-80/stream-leadin-web-collection-202210241242.png" alt="">
    </div>

    <div class="container">
        <h2>Gujarati Movies</h2>
        <div class="card">
            <img src="https://i.ytimg.com/vi/HEaXBHPCCFA/maxresdefault.jpg" alt="">
            <img src="https://m.media-amazon.com/images/M/MV5BNzMzNDE2Y2YtZDc5Ni00ZWE3LWE5MDctN2JhYjliMGVkZTA0XkEyXkFqcGc@._V1_.jpg" alt="">
            <img src="https://m.media-amazon.com/images/M/MV5BNTgwODJiODctY2Q4OC00NmJiLThhNGUtNzYxMjMyZTQxMWI3XkEyXkFqcGc@._V1_.jpg" alt="">
            <img src="https://i.ytimg.com/vi/sZ3iSjqAk-Q/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLC2PRV6VGXluq6ze7URGUTATWpI4g" alt="" class="">
            <img src="https://i.ytimg.com/vi/k_JTimmcO_g/maxresdefault.jpg" alt="" >
        </div>    
    </div>

    <div class="premiere">
        <h2>PREMIERE</h2>
        <div class="containers">
            <h2>Gujarati Movies</h2>
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/en/4/4a/Oppenheimer_%28film%29.jpg" alt="">
                <img src="https://m.media-amazon.com/images/M/MV5BNzMzNDE2Y2YtZDc5Ni00ZWE3LWE5MDctN2JhYjliMGVkZTA0XkEyXkFqcGc@._V1_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQwNzRiNmItODc4Ny00Mjk4LThmYWQtNjI5OGU4OGUxMmY0XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" alt="">
                <img src="https://www.adgully.com/img/800/201808/if-i-stay-creative.jpg" alt="" class="">
                <img src="https://i.etsystatic.com/18242346/r/il/eab9fb/3072955208/il_570xN.3072955208_6uh1.jpg" alt="" >
            </div>    
        </div>
    </div>

    <div class="footer">
        <img src="logo.png" alt="">
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    
</body>
</html>