<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Movie.css">
    <title>Movie Details</title>
</head>
<body>
    <header>
        <a href="/book" class="book-button">Book My Show</a>
    </header>
    <main class="movie-container">
        <img src="<%=movie.movieimage%>" alt="Movie Poster" class="movie-image">
        <div class="movie-details">
            <h1><%=movie.moviename%></h1>
            <p><%=movie.movieabout || 'No description available for this movie.'%></p>
            <p>Rs .<%=movie.movieprice%></p>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            
        })
    </script>
</body>
</html>
